<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Edit a Ball</h1>
    <form action="/store/balls/<%=ball._id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=ball.name%>" /><br />
        Description: <input type="text" name="description" value="<%=ball.description%>" /><br />
        Image: <input type="text" name="img" value="<%=ball.img%>" /> <br />
        Quantity: <input type="number" name="quantity" value="<%=ball.quantity%>" /> <br />
        Price: <input type="number" name="price" value="<%=ball.price%>" /> <br />
        <input type="submit" value="Update Product" />
    </form>
</body>

</html>