<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styleEdit.css">
    <title>Document</title>
</head>

<body>
    <h1>Edit a Ball</h1>
    <div class="container">

        <form action="/store/clubs/<%=club._id%>?_method=PUT" method="POST">
            <h4>Name: </h4><br>
            <input type="text" name="name" value="<%=club.name%>" /><br />
            <h4>Description: </h4><br>
            <input type="text" name="description" value="<%=club.description%>" /><br />
            <h4>Image:</h4><br>
            <input type="text" name="img" value="<%=club.img%>" /> <br />
            <h4>Quantity</h4><br>
            <input type="number" name="quantity" value="<%=club.quantity%>" /> <br />
            <h4>Price</h4><br>
            <input type="number" name="price" value="<%=club.price%>" /> <br />
    </div>
    <button type="submit" value="Update Product">Update Product</button>
    </form>
</body>

</html>