<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styleEdit.css">
    <title>Document</title>
</head>

<body>
    <h1>Edit an Accessory</h1>
    <form action="/store/accessories/<%=accessory._id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=accessory.name%>" /><br />
        Description: <input type="text" name="description" value="<%=accessory.description%>" /><br />
        Image: <input type="text" name="img" value="<%=accessory.img%>" /> <br />
        Quantity: <input type="number" name="quantity" value="<%=accessory.quantity%>" /> <br />
        Price: <input type="number" name="price" value="<%=accessory.price%>" /> <br />
        <input type="submit" value="Update Product" />
    </form>
</body>

</html>