<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styleShow.css">
    <title>Golf Clubs</title>
</head>

<body>
    <div class="container">
        <div class="name">
            <h1>
                <%= club.name %>
            </h1>
        </div>
        <div>
            <img src="<%= club.img %>">
        </div>
        <div>
            <p class="description">
                <%=club.description%>
            </p>
        </div>
        <div>
            <p class="price">Price: $ <%=club.price%>
            </p>
        </div>
        <div>
            <p class="quantity">
                <%=club.quantity%> Remaining
            </p>
        </div>
        <div class="buttons">
            <button onclick="location.href='http://localhost:3000/store/clubs/<%=club._id%>/edit'">
                Update this item</button>
            <form action="/store/clubs/<%=club._id%>?_method=DELETE" method="POST">
                <button onclick="location.href='http://localhost:3000/store/clubs/<%=club._id%>'" type="submit">
                    Delete this item</button>
            </form>
            <button onclick="location.href='http://localhost:3000/store/clubs'">Back to All Clubs</button>
        </div>

    </div>
</body>

</html>