<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        img {
            max-width: 400px;
            max-height: 400px;
        }
    </style>
    <h1>
        <%= ball.name %>
    </h1>
    <img src="<%= ball.img %>">
    <button onclick="location.href='http://localhost:3000/store/balls/<%=ball._id%>/edit'">
        Update this item</button>
    <form action="/store/balls/<%=ball._id%>?_method=DELETE" method="POST">
        <button onclick="location.href='http://localhost:3000/store/balls/<%=ball._id%>'" type="submit">
            Delete this item</button>
    </form>
    <a href="/store/balls">Back to All Balls</a>
</body>

</html>