<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styleShow.css">
    <title>Document</title>
</head>

<body>
<div class="container">
    <div class="name">
    <h1>
        <%= ball.name %>
    </h1>
    </div>
    <div>
    <img src="<%= ball.img %>">
    </div>
    <div>
        <p class="description"><%=ball.description%></p>
    </div>
    <div>
        <p class="price">Price: $ <%=ball.price%></p>
    </div>
    <div>
        <p class="quantity"><%=ball.quantity%> Remaining</p>
    </div>
    <div class="buttons">
    <button onclick="location.href='/store/balls/<%=ball._id%>/edit'">
        Update this item</button>
    <form action="/store/balls/<%=ball._id%>?_method=DELETE" method="POST">
        <button onclick="location.href='/store/balls/<%=ball._id%>'" type="submit">
            Delete this item</button>
    </form>
    <button onclick="location.href='/store/balls'">Back to All Balls</button>
    </div>

    </div>
</body>

</html>